Repository hmcts/civil-damages-service, pull requests merged in 2021-04, with the labels that each got.

#33 build: merged dependencies
  build.gradle
Labels: dependencies, ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-33

#32 build: bump service to latest
  docker/docmosis/templates/CV-UNS-ACK-ENG-00653.docx
  docker/docmosis/templates/CV-UNS-CLM-ENG-00655.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-00651.docx
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ResponseIntention.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/DocumentWithRegex.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFiles.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Event.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/JsonSchemaValidationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/TakeCaseOfflineSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/utils/DocmosisTemplateDataUtils.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/ApplicantClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/RespondentClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/TakeCaseOfflineSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/DocmosisTemplateDataUtilsTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-32

#36 refactor: empty non working days file (CMC-1465)
  src/main/resources/data/non-working_days.dat
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-36

#39 fix: org name in payments request (CMC-1307)
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-39

#47 build: bumped java release to latest
  charts/civil-damages-service/Chart.yaml
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-47

#49 fix: error when choosing no for experts (CMC-1375) 1/2
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/interfaces/ExpertsValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-49

#48 tech: edge case scenarios rpa contracts with minimal data (CMC-1429)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/AddressBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/StatementOfTruthBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapperTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-48

#55 fix: rpa contract amendments (CMC-1496)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ResponseIntention.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-55

#56 fix: rpa contract amendments for event details fields (CMC-1506)
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ResponseIntention.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-56

#40 feat: future proof payments 1/2 (CMC-1433)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/PaymentDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-40

#61 build(deps): bump commons-io from 2.7 to 2.8.0 to solve CVE-2021-29425
  build.gradle
  src/test/java/uk/gov/hmcts/reform/unspec/helpers/ResourceReaderTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-61

#59 feat: enable pact testing on master pipeline (CMC-1452)
  Jenkinsfile_CNP
  build.gradle
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-59

#65 Build: dependancy upgrades
  build.gradle
Labels: dependencies, ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-65

#69 refactor: new field to enforce regex for medical report 1/2 (CMC-1472)
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFiles.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-69

#67 feat: update preferred court code in rpa pacts (CMC-1527)
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-67

#70 fix: cleanup pact gradle task
  build.gradle
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-70

#73 fix: unrepresented/unregistered RPA scenario
  charts/civil-damages-service/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-73

#58 refactor: content changes for judges (CMC-1489)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-58

#78 feat:Expose testing support endpoints in swagger ui
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/testingsupport/CamundaRestEngineApi.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/testingsupport/CamundaRestEngineClient.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/testingsupport/UpdateCaseDataController.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-78

#81 fix: CVE-2021-22112 Bump spring-security-core from 5.4.2 to 5.4.6
  build.gradle
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-81

#92 fix: locked xui image temporarily for preview and staging
  charts/civil-damages-service/values.aat.template.yaml
  charts/civil-damages-service/values.preview.template.yaml
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-92

#83 feat: new claim number format for damages claims (CMC-1466)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/MockDatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/repositories/ReferenceNumberRepository.java
  src/main/resources/db/migration/V2021_04_26_0945__damages_claims_reference_number_seq.sql
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/ApplicantClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/RespondentClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/documentmanagement/DocumentManagementServiceTest.java
  src/test/resources/document-management/download.success.json
  src/test/resources/document-management/metadata.success.json
  src/test/resources/document-management/response.success.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-83

#91 feat:Add placeholder event handler (CMC-1435)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-91

#88 feat: reset ui field and move data for statement of truth (CMC-1497)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-88

#96 feat:Add comunda event based on flow state
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-96
