Repository hmcts/civil-damages-service, pull requests merged in 2021-05, with the labels that each got.

#90 build: download from jitpack
  build.gradle
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-90

#103 tech: fix disabled test (CMC-1523)
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/ResourceReader.java
  src/test/java/uk/gov/hmcts/reform/unspec/helpers/ResourceReaderTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-103

#104 feat: update confirmation screen contents for resubmit claim (CMC-1483)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-104

#66 fix: duplicate payment as business exception (CMC-1450)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandler.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-66

#68 feat:Update flow states names
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/CallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AmendPartyDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/TakeCaseOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/WithdrawClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-68

#107 fix: add empty line at start of confirmation body for resubmit claim (CMC-1483 )
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-107

#109 feat: update docmosis content for sot in claim form (CMC-1544)
  docker/docmosis/templates/CV-UNS-CLM-ENG-00655.docx
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-109

#105 fix : backwards compatible code for particulars of claim (CMC-1322) 1/4
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFiles.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/interfaces/ParticularsOfClaimValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFilesTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-105

#63 refactor: postgres username and password stored in keyvault (CMC-1494)
  Jenkinsfile_CNP
  charts/civil-damages-service/values.aat.template.yaml
  charts/civil-damages-service/values.preview.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-63

#97 feat:Validate fee after claim submission (cmc-1546)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ValidateFeeCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ValidateFeeCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-97

#123 refactor:disallow staff after case dismissed
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-123

#110 refactor: feign exception stack trace in Camunda (CMC-1476)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/tasks/BaseExternalTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/CaseEventTaskHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-110

#106 fix: add callback validation for collections in dq (CMC-1562)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/UnavailableDateValidator.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/interfaces/WitnessesValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/UnavailableDateValidatorTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-106

#124 add empty submitted callback response
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandler.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-124

#101 feat: rpa for applicant missed response deadline (CMC-608)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/TakeCaseOfflineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/TakeCaseOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-101

#100 feat: creating confirmation screen for litigation friend event (CMC-1482) (1/2)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-100

#94 feat: adding exit survey to confirmation pages (CMC-1117) (2/2)
  src/main/java/uk/gov/hmcts/reform/unspec/config/ExitSurveyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/ExitSurveyContentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/ExitSurveyContentServiceTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-94

#111 refactor: remove pay backward compatible code (CMC-1526)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-111

#129 fix: added task id for cc notification events handlers (CMC-1442)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CaseTakenOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimDismissedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/LitigationFriendAddedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/LitigationFriendAddedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/ResetRpaNotificationBusinessProcessHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-129

#130 fix: confirmation screen for resubmit claim event (N/A)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-130

#131 feat: enabled setting notifications business processes to ready (CMC-1442) 4/4
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/TakeCaseOfflineCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/TakeCaseOfflineCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-131

#133 fix: applicantOutOfTime predicate condition (CMC-1577)
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-133

#134 fix: notification properties and data formatting fixes (CMC-1442)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-134

#140 fix : null pointer exception in event history mappings (CMC-608)
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-140

#108 feat: reset ui field and add data to intended place (CMC-1497)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-108

#64 refactor: add extra day to deadlines when after 4pm (CMC-1445)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculatorTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-64

#145 fix: include keys for null attributes (CMC-1592)
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationService.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-145

#147 feat:add missing activity id in camuna event handlers
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineForUnRegisteredCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineForUnRepresentedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseevents/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-service-pr-147
